@keyframes smoothAppear {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }
  .FindList-wrapper{
    opacity: 0;
    animation: myAnim 1s ease 0s 1 normal forwards;
    // animation-delay: 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    @keyframes myAnim {
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }
    .FindList-header{
      color: midnightblue;
      font-weight: bold;
      font-size: 2rem;
    }
    .FindList-body{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .FindList-footer{
      margin: 1.5rem;
    }
  }