.Mypagecontainer {
    height: 100%;
    width: auto;
    min-width: px;
    max-width: 1880px;
    padding: 0px 40px;
    margin: 0px auto;
    box-sizing: border-box;
}

.commonMypage {
    width: auto;
    min-width: 1560px;
    padding: 0px;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.commonmypagese {
    position: relative;
    min-width: 1560px;
    padding: 0px 0px 44px;
    margin: 0px auto;
    color: rgb(0, 0, 0);
}
.commonmypagelink {
    padding: 20px 0px 24px;
    font-size: 30px;
}

.commonmypagelogout {
    position: absolute;
    right: 0px;
    top: 20px;

}

.commonmypagelogout > .Linkout {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 0px;
    margin-left: 32px;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    text-decoration-line: none;

}

.commonmypagelink > p {
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 52px;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration-line: none;
}

.commonmypageprofil {
    overflow: hidden;
    padding-left: 40px;
    padding-top: 50px;
}

.profileimage {
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.commonmypageprofil {
    float: left;
    min-width: calc(100% - 970px);
    min-height: 148px;
    padding-left: 50px;
    box-sizing: border-box;
}

.imgside {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: baseline;
    line-height: 60px;
}

.imgside > strong{
    display: inline-block;
    font-size: 58px;
    line-height: 87px;
    color: rgb(0, 0, 0);
}

.commonmypagesupday {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.commonmypagesupday > span {
    display: inline-flex;
    margin: 4px 0px 0px 8px;
    font-size: 14px;
    line-height: 21px;
    color: rgb(145, 145, 145);
}

.commonmypageleftnav {
    width: 170px;
    height: 100%;
    float: left;
    margin: 54px 40px 0px 0px;
    font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    font-size: 14px;
    display: block;
    position: absolute;
    left: 250px;
    top: 400px;
    /* background-color: aqua; */
    border-right: 3px solid hsl(0, 0%, 99%);
    
}

.commonmypageleftnav > h2 {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0px, 0px, 0px, 0px);
}

.commonmypagembm {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0px, 0px, 0px, 0px);
}

.Mylist {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    /* position: absolute;
    left: 400px;
    top: 400px; */
}

.Mylist > h3 {
    padding: 13px 0px 2px;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
}

.Mylist > p {
    display: flex;
    margin-top: 2px;
    font-size: 16px;
    line-height: 40px;
    font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    color: rgb(110, 110, 110) !important;
    border-bottom: 1px solid hsl(0, 0%, 100%);
}

.commonMypage::after {
    display: block;
    width: calc(100vw + 2px);
    min-width: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    content: "";
    z-index: -1;
    transform: translateX(-50%);
}