.modal-overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 20px;
  }
  
  .modal-body-left {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  
  .modal-body-right {
    flex: 1;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }
  
  .close-modal-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  