.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.modal-body-left {
  width: 30%;
  height: 50%;
  position: absolute;
  left: 1rem;
  top: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.modal-body-left-under {
    position: absolute;
    display: flex;
    left: 1rem;
    bottom: 18rem;
    width: 30%;
    height: 5%;
    > h2 {
        font-size: 25px;
        margin: 0 auto;
    }
}
.modal-body-left-under-text {
  position: absolute;
  display: flex;
  left: 1rem;
  bottom: 4rem;
  width: 30%;
  height: 30%;
}

.modal-body-left-under-recommand {
  position: absolute;
  display: flex;
  left: 1rem;
  bottom: 0.2rem;
  width: 30%;
  height: 30%;
}

.modal-body-right {
  flex: 1;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  font-size: 20px;
  > .comments {
    margin-right: auto;
  }
}

.close-modal-btn {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  transform: translate(50%, -50%);
  z-index: 2;

  &:hover {
    color: #3fbed3;
    transition: all 0.3s ease;
  }
}
